---
- name: Add Ansible hosts
  hosts: localhost
  tasks:
    - name: Configure /etc/ansible/hosts
      blockinfile:
        path: /etc/ansible/hosts
        block: |
          [k8s_all:children]
          k8s_main
          k8s_masters
          k8s_workers

          [k8s_main]
          k8s-master1

          [k8s_masters]
          k8s-master2
          k8s-master3

          [k8s_workers]
          k8s-worker1-1
          k8s-worker1-2
          k8s-worker2-1
          k8s-worker2-2
          k8s-worker3-1
          k8s-worker3-2

          [k8s_lbs]
          k8s-lb1
          k8s-lb2

          [Storage_Server]
          Storage-Server

    - name: Configure hosts file
      blockinfile:
        path: /etc/hosts
        block: |
          10.6.3.102 Storage-Server
          10.6.3.110 k8s-master1
          10.6.3.120 k8s-master2
          10.6.3.130 k8s-master3
          10.6.3.111 k8s-worker1-1
          10.6.3.112 k8s-worker1-2
          10.6.3.121 k8s-worker2-1
          10.6.3.122 k8s-worker2-2
          10.6.3.131 k8s-worker3-1
          10.6.3.132 k8s-worker3-2
          10.6.3.200 k8s-master-lb
          10.6.3.201 k8s-lb1
          10.6.3.202 k8s-lb2